/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


html {
  body {
    // 1. Font family
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    // 2. Font size
    font-size: 100%;
    
    // 3. Line height
    line-height: 1.25;
    
    // Gutter
    $gutter: 1.25em;
    
    // 4. Characters per row
    $characters-per-row: 40;
    
    // 5. Cell width
    // - This formula is a guess, it was measured by hand
    $cell-width: $characters-per-row * $gutter/2;
    
    
    // 6. Grid width
    // - The cell is to wide; it must be divided into 2 or 3 columns, according to the nr. of characters per row (40 or 60)
    $grid-width: $cell-width/2;
    
    // 6. Cell height
    // - four lines of text, it has nothing to do with the cell-width
    $cell-height: $gutter*4;
    
    article {
      p {
        max-width: $cell-width;
      }
    }
    
    #grid {
      position: absolute;
      top: 0;
      opacity: .1;
      display: block;
      z-index: -1;
    }
    
    #grid .col {
      border-right: 1px solid;
      border-bottom: 1px solid;
      width: $grid-width + $gutter;
      height: $cell-height + $gutter;
      float: left;
    }
    
    #grid .gutter-right {
      float: right;
      border-left: 1px solid;
      width: $gutter;
      height: 100%;
    }
    
    #grid .gutter-bottom {
      float: left;
      border-bottom: 1px solid;
      height: $gutter;
      width: 100%;
    }
  }
}
