/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "grid";
@import "typography";

html {
  body {
    @include typographic-grid;
    @include typographic-elements;
    
    article {
      max-width: $cell-width;
    }
    
    
    
    
    // The visual grid
    // ---------------------------------------------
    #grid {
      display: block;
      
      position: absolute;
      top: 0;
      opacity: .1;
      z-index: -1;
    }
    
    #grid .col {
      border-right: 1px solid;
      border-bottom: 1px solid;
      width: $grid-width + $gutter;
      height: $cell-height + $gutter;
      float: left;
    }
    
    #grid .gutter-right {
      float: right;
      border-left: 1px solid;
      width: $gutter;
      height: 100%;
    }
    
    #grid .gutter-bottom {
      float: left;
      border-bottom: 1px solid;
      height: $gutter;
      width: 100%;
    }
  }
}
